<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Educasex</title>
  <link rel="stylesheet" href="../assets/css/paginaInicial.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/1a985785a6.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  </head>

<body>
    <div class="conteiner">
    <nav class="nav">

        <span class="educa"> <a href="paginaInicial.html">EducaSex</a> <i class="fa-solid fa-book"></i></span>
  
        <ul>
          <li><a href="forum.html">Fórum</a></li>
          <li><a href="inicialquiz.html">Quizzes</a></li>
          <li><a href="perfilaluno.html">Perfil</a></li>
        </ul>
      </nav>
   <header class="header"> <h1>EDUCASEX</h1>
     <h3>Bem-vindo ao EducaSex!</h3>
        <p> Somos uma plataforma inovadora dedicada à educação sexual, projetada para fornecer informações precisas, abrangentes e acessíveis a todos. 
        No EducaSex, acreditamos que a educação sexual é uma parte fundamental para o bem-estar, a saúde e a felicidade das pessoas. 
        Nosso objetivo é desmistificar tabus, promover a compreensão e incentivar diálogos saudáveis sobre sexualidade.
        Oferecemos uma variedade de recursos, desde artigos informativos e guias práticos até vídeos educacionais, cobrindo uma ampla gama de tópicos, como anatomia, saúde sexual, relacionamentos, consentimento, orientação sexual, identidade de gênero e muito mais. 
        Nosso conteúdo é criado por especialistas em saúde sexual e psicólogos para garantir que você receba informações confiáveis e baseadas em evidências.
        No EducaSex, incentivamos um ambiente seguro e inclusivo, onde você pode fazer perguntas, compartilhar experiências e aprender sobre sexualidade sem julgamentos. 
        Queremos que todos se sintam à vontade para explorar sua sexualidade com conhecimento e confiança. Junte-se a nós nesta jornada de aprendizado e empoderamento sexual!</p>
    </header>
    
    <div class="card">
        <img src="../assets/imgs/anatomia.webp"anatomia img alt="...">
        <div class="card-body">
          <p class="card-text"> Anatomia sexual abrange a estrutura dos órgãos reprodutivos masculinos e femininos, incluindo o sistema endócrino e nervoso, que desempenham papéis na reprodução e na sexualidade humana. Ela também reconhece a diversidade, promovendo inclusão e respeito à identidade de gênero e orientação sexual.  <a href="telaAnatomia.html">(acesse para saber mais)</a></p>
          <p class="card-text"><small class="text-muted">Last updated 8 horas ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="../assets/imgs/ist.jpg" class="anatomia img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Infecções Sexualmente Transmissíveis</h5>
          <p class="card-text">
            As Infecções Sexualmente Transmissíveis (ISTs) são doenças causadas por bactérias, vírus ou parasitas, transmitidas principalmente através de relações sexuais sem proteção. Elas podem afetar órgãos reprodutivos e outras partes do corpo, e incluem infecções como clamídia, gonorreia, sífilis, HIV, herpes genital e HPV. A prevenção, diagnóstico precoce e tratamento adequado são essenciais para controlar a disseminação e proteger a saúde.  <a href="telaDST.html">(acesse para saber mais)</a></p>
          <p class="card-text"><small class="text-muted">Last updated 16 hours ago</small></p>
        </div>
        <div class="card">
            <img src="../assets/imgs/metodos anticoncepconais.webp" class="anatomia img" alt="...">
            <div class="card-body">
              <h5 class="card-title">Métodos Contraceptivos</h5>
              <p class="card-text">Métodos contraceptivos são estratégias usadas para prevenir a gravidez durante a atividade sexual. Eles incluem opções hormonais como pílulas anticoncepcionais e dispositivos intrauterinos (DIUs), métodos de barreira como preservativos e diafragmas, contraceptivos comportamentais como a abstinência e a tabelinha, e métodos cirúrgicos como vasectomia e laqueadura. Cada método tem suas vantagens e desvantagens, e a escolha ideal deve considerar fatores como eficácia, efeitos colaterais, conveniência e questões pessoais ou de saúde.  <a href="telaMTC.html">(acesse para saber mais)</a></p>
              <p class="card-text"><small class="text-muted">Last updated 34 mins ago</small></p>
            </div>
</div>

<script src="../js/paginaInicial.js"></script>
</body>

</html>

<footer>Todos os direitos reservados para EducaSex-2024</footer>