<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respostas</title>
    <link rel="stylesheet" href="../assets/css/respostas.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/1a985785a6.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="container">
        <h1><span id="perguntaTitulo"></span></h1>
        <form id="respostaForm">
            <input type="text" id="respostaInput" placeholder="Digite sua resposta aqui..." required>
            <button type="submit">Enviar</button>
        </form>
        <div id="respostasContainer">
            <h2>Respostas:</h2>
            <ul id="respostasList"></ul>
        </div>
        <a href="forum.html">Voltar para perguntas</a>
    </div>

    <script src="../js/forum.js"></script>
</body>
<footer>Todos os direitos reservados para EducaSex-2024</footer>
</html>