<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anatomia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/telaAnatomia.css">
    <script src="https://kit.fontawesome.com/1a985785a6.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <nav>
            <span class="educa">
                <a href="paginaInicial.html">EducaSex</a>
                <i class="fa-solid fa-book"></i>
            </span>
            <ul>
                <li><a href="#feminina">Anatomia Feminina <i class="fa-solid fa-child-dress"></i></a></li>
                <li><a href="#masculina">Anatomia Masculina <i class="fa-solid fa-child"></i></a></li>
                <li><a href="#videos">Vídeos Sobre <i class="fa-solid fa-video"></i></a></li>
            </ul>
        </nav>
        <hr>
        <header class="header">
            <h2>Anatomia <i class="fa-solid fa-notes-medical"></i></h2>
            <hr>
            <div class="imagem">
                <img src="../assets/imgs/anatomiaaula.jpg" alt="perfil" height="250px">
                <div class="texto">
                    <h3>Sobre</h3>
                    <p>A anatomia sexual é o estudo da estrutura física dos órgãos sexuais, tanto masculinos quanto
                        femininos, e como eles funcionam em conjunto para a reprodução e o prazer sexual. No corpo
                        masculino, os principais órgãos sexuais incluem o pênis, os testículos e a próstata, enquanto no
                        corpo feminino destacam-se a vagina, o útero, os ovários e o clitóris. Esses órgãos desempenham
                        papéis cruciais na reprodução e no prazer sexual. Compreender a anatomia sexual promove uma
                        sexualidade saudável e respeitosa, reconhecendo a diversidade e a individualidade de cada
                        pessoa.
                    </p>
                </div>
            </div>
        </header>

        <main class="main">
            <h2>Anatomia</h2>
            <hr>
            <div id="anatomia">

            </div>
        </main>
    </div>
    <br>
    <section class="carrossel_f" id="videos">
        <h3>Vídeos gerais sobre Anatomia Feminina</h3>
        <hr>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <iframe width="1300" height="634" src="https://youtu.be/ymNSJcVNkFY"
                        title="Desbloqueando o &quot;Algoritmo&quot; do Twitter - Introdução a Grafos" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="carousel-caption d-none d-md-block"></div>
                </div>
                <div class="carousel-item">
                    <iframe width="1300" height="634" src="https://youtu.be/MpCFEfQcMbM"
                        title="10 Mitos sobre Tech Startups | Parte 1" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="carousel-caption d-none d-md-block"></div>
                </div>
                <div class="carousel-item">
                    <iframe width="1300" height="634" src="https://youtu.be/ja2HfyiGC9A"
                        title="Entendendo &quot;Devops&quot; para Iniciantes em Programação (Parte 1) | Série &quot;Começando aos 40&quot;"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="carousel-caption d-none d-md-block"></div>
                </div>
                <div class="carousel-item">
                    <iframe width="1300" height="634" src="https://youtu.be/8h-PoFtAM20"
                        title="FÁBIO AKITA. Comece pelo básico. Fora da Norma Podcast." frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="carousel-caption d-none d-md-block"></div>
                </div>
                <div class="carousel-item">
                    <iframe width="1300" height="634" src="https://youtu.be/ePrCjSkJbgw"
                        title="Modelagem de Software é Difícil? | &quot;Ver&quot; vs &quot;Enxergar&quot;"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="carousel-caption d-none d-md-block"></div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <section class="carrossel_m">
        <h3>Vídeos gerais sobre Anatomia Masculina</h3>
        <hr>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <iframe width="1300" height="634" src="https://youtu.be/Dd3m78OMHwI"
                        title="Desbloqueando o &quot;Algoritmo&quot; do Twitter - Introdução a Grafos" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="carousel-caption d-none d-md-block"></div>
                </div>
                <div class="carousel-item">
                    <iframe width="1300" height="634" src="https://youtu.be/jFjPO4hQSYQ"
                        title="10 Mitos sobre Tech Startups | Parte 1" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="carousel-caption d-none d-md-block"></div>
                </div>
                <div class="carousel-item">
                    <iframe width="1300" height="634" src="https://youtu.be/QV53kHAtZ-k"
                        title="Entendendo &quot;Devops&quot; para Iniciantes em Programação (Parte 1) | Série &quot;Começando aos 40&quot;"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="carousel-caption d-none d-md-block"></div>
                </div>
                <div class="carousel-item">
                    <iframe width="1300" height="634" src="https://youtu.be/MQesxF2DRq8"
                        title="FÁBIO AKITA. Comece pelo básico. Fora da Norma Podcast." frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="carousel-caption d-none d-md-block"></div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section class="links">
        <p>Links dos vídeos:</p>
        Femininos:
        <a href="https://youtu.be/ymNSJcVNkFY">https://youtu.be/ymNSJcVNkFY</a>;
        <a href="https://youtu.be/MpCFEfQcMbM">https://youtu.be/MpCFEfQcMbM</a>;
        <a href="https://youtu.be/ja2HfyiGC9A">https://youtu.be/ja2HfyiGC9A</a>;
        <a href="https://youtu.be/8h-PoFtAM20">https://youtu.be/8h-PoFtAM20</a>;
        <a href="https://youtu.be/ePrCjSkJbgw">https://youtu.be/ePrCjSkJbgw</a>;
        <br>
        Masculinos:
        <a href="https://youtu.be/Dd3m78OMHwI">https://youtu.be/Dd3m78OMHwI</a>;
        <a href="https://youtu.be/jFjPO4hQSYQ">https://youtu.be/jFjPO4hQSYQ</a>;
        <a href="https://youtu.be/QV53kHAtZ-k">https://youtu.be/QV53kHAtZ-k</a>;
        <a href="https://youtu.be/MQesxF2DRq8">https://youtu.be/MQesxF2DRq8</a>.
    </section>

    <script src="../js/telaAnatomia.js"></script>

    <a href="Avaliacao.html" id="avaliacao-btn">Avaliar Conteúdo</a>
</body>

<footer>Todos os direitos reservados para EducaSex-2024</footer>

</html>