html{
    font-family: Arial, sans-serif;
}
body{
    padding: 10px;
}
.nav {
    display: flex;
    padding: 10px;
}

nav,
ul {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

nav,
ul,
li {
    list-style: none;
    margin-left: 15px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: lightcoral;
    border-radius: 5px;
    padding: 6px;
}

.educa {
    font-size: 20px;
}

.exibicao{
    padding: 40px;
}

footer{
    margin-top: 200px;
}

#exibir{
    margin-top: 25px;
    margin-right: 45px;
}

#exibicao{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 45px;
}

.foter{
    padding: 50px;
    background-color: grey;
}

.foter h6{
    color: white;
}

footer{
    margin-top: 500px;
}

#baixo{
    margin-top: 200px;
}